@media (max-width: 768px) {
    .container {
        width: 50%;
        padding: 15px;
    }

    .container h1 {
        font-size: 1.5rem;
    }

    .form {
        height: 45px;
    }

    .form i {
        font-size: 20px;
        left: 8px;
    }

    .form input {
        font-size: 14px;
        padding: 0 36px 0 30px;
    }

    .form button {
        width: 35px;
        font-size: 20px;
        padding: 0 30px 0 5px;
    }

    .weather-box {
        margin: 20px 0;
    }

    .weather-box img {
        max-width: 150px;
    }

    .weather-box .temperature {
        font-size: 2.5rem;
    }

    .weather-box .temperature span {
        font-size: 1.2rem;
    }

    .weather-box .description {
        font-size: 1.2rem;
    }

    .weather-details {
        flex-direction: row;
        padding: 0 10px;
    }

    .weather-details .separator {
        width: 1px;
        height: 2.5rem; 
        background-color: black;
        margin: 10px 0;
    }

    .weather-details i {
        font-size: 2rem;
    }

    .weather-details span {
        font-size: 1rem;
    }

    .erro-container {
        margin: 20px 0;
    }
}

@media (max-width: 480px) {
    .container {
        width: 75%;
        padding: 10px;
    }

    .container h1 {
        font-size: 1.25rem;
    }

    .container > h1 > i.bx {
        font-size: 14px;
    }

    .form {
        height: 40px;
    }

    .form i {
        font-size: 18px;
        left: 5px;
    }

    .form input {
        font-size: 12px;
        padding: 0 30px 0 30px;
    }

    .form button {
        width: 30px;
        font-size: 18px;
        padding: 0 20px 0 5px;
    }

    .weather-box img {
        max-width: 120px;
    }

    .weather-box .temperature {
        font-size: 2rem;
    }

    .weather-box .temperature span {
        font-size: 1rem;
    }

    .weather-box .description {
        font-size: 1rem;
    }

    .weather-details {
        flex-direction: row;
        padding: 0 10px;
    }

    .weather-details .ventos {
        padding-left: 10px;
    }

    .weather-details .separator {
        width: 1px;
        height: 2.5rem; 
        background-color: black;
        margin: 10px 0;
    }

    .weather-details i {
        font-size: 2rem;
    }

    .weather-details span {
        font-size: 1rem;
    }

    .weather-details  .ventos span {
        font-size: 0.70rem;
    }
}

@media (max-width: 320px) {
    .container {
        width: 90%;
        padding: 8px;
    }

    .container h1 {
        font-size: 1rem;
    }

    .form {
        height: 35px;
    }

    .form i {
        font-size: 16px;
        left: 3px;
    }

    .form input {
        font-size: 10px;
        padding: 0 28px 0 28px;
    }

    .form button {
        width: 25px;
        font-size: 16px;
        padding: 0 15px 0 3px;
    }

    .weather-box img {
        max-width: 100px;
    }

    .weather-box .temperature {
        font-size: 1.5rem;
    }

    .weather-box .temperature span {
        font-size: 0.8rem;
    }

    .weather-box .description {
        font-size: 0.8rem;
    }

    .weather-details {
        flex-direction: row;
        padding: 0 8px;
    }

    .weather-details .separator {
        width: 1px;
        height: 2rem; 
        background-color: black;
        margin: 8px 0;
    }

    .weather-details i {
        font-size: 1.5rem;
    }

    .weather-details span {
        font-size: 0.8rem;
    }

    .erro-container img {
        max-width: 150px;
    }

    .erro-container p {
        font-size: 0.9rem;
    }
}
